<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <h3><%= pergunta.titulo %></h3>
        <p><%= pergunta.descricao %></p>

        <form method="POST" action="/salvarresposta">
            <h3>Resposta:</h3>
            <textarea class="form-control" name="corpo">

            </textarea>
            <input type="hidden" name="perguntaId" value="<%= pergunta.id %>">
            <br>
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <% respostas.forEach(resposta => {%>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include ('partials/footer.ejs') %>